
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');




body {
    color: #263238;
    font-family: Poppins;
}
.breadcrumb-saya {
    font-size: 12px;
    height: 40px;
    margin-top: 24px;

    a {
        color: #009B4C;
    }

    .halaman-dikunjungi {
        &::after {
            content: ' ...';
        }
    }
}

.tanggal {
    font-size: 12px;
    white-space: nowrap;
    margin-top: 8px;
}

.judul-artikel {
    padding-top: 24px;
    
    h3 {
        font-size: 28px;
        font-weight: 700;
        line-height: 40px;
    }
}

.isi-artikel {
    // padding-top: 8px;
    
    .p {
        margin-top: 24px;
        font-size: 16px;
        line-height: 1.75;
        text-align: justify;
    }
}