
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
    color: #263238;
    font-family: Poppins;
}

.navbar-atas {
    height: 80px;
    padding-top: 16px;
    position: relative;
    z-index: 1;

    .nav-item {
        color: white;
        .nav-link {
            font-size: 14px;
        }
    }
    

    .logo-bpom {
        height: 32px;
    }
}

.navbar-bawah {
    height: 56px;
    padding-top: 8px;
    padding-left: 8px;
    background-color: #054586;
    border-radius: 4px;
    font-size: 14px;


    .nav-link {
        color: white;
        line-height: 24px;
        font-size: 14px;
    }
}

.jumbotron-saya {
    margin-right: 200px;
    margin-left: 200px;
    
    
    .jumbotron {
        // margin-top: -24px;
        padding-top: 104px;
        border-radius: 8px;
        height: 512px;
        background-color: #f5f6f8;

        .display-4 {
            margin-left: 52px;
            margin-right: 52px;
        }

        .lead {
            margin-left: 52px;
            margin-right: 52px;
            color:#222b35; 

        }

        p {
            color:#586069; 
            font-weight: 400;
            margin-left: 52px;
            margin-right: 52px;
        }

        .my-4 {
            margin-left: 52px;
            margin-right: 52px;
        }
    
        .btn {
            background-color: #009B4C;
            border: #009B4C;
            color: white;
            transition: all ease 0.5s;
            font-size: 16px;
            margin-left: 52px;
    
            &:active {
                background-color: #009B4C;
                border: 3px solid #009B4C;
            }
        }
    }
}

// Judul content 
.lihat-semua {
    color: #009B4C;
    transition: 0.25s;

    &:hover {
        color: #054586;
        text-decoration: none;
    }
}

// isi artikel
.breadcrumb-saya {
    font-size: 12px;
    height: 40px;
    margin-top: 24px;

    a {
        color: #009B4C;
    }

    .halaman-dikunjungi {
        &::after {
            content: '...';
        }
    }
}

.tanggal {
    font-size: 12px;
    white-space: nowrap;
    margin-top: 8px;
}

.judul-artikel {
    padding-top: 24px;
    
    h3 {
        font-size: 28px;
        font-weight: 700;
        line-height: 40px;
    }
}

.isi-artikel {
    // padding-top: 8px;
    
    .p {
        margin-top: 24px;
        font-size: 16px;
        line-height: 1.75;
        text-align: justify;
    }
}